<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589365677983-aor01o1pk6491mjck9herrmtbs27hp18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589365677983-aor01o1pk6491mjck9herrmtbs27hp18</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>589365677983-bhvpk9bsgqro2o9mon11o5atl1d7k4pe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGgo6-z0IRhJxp2m1YPGhRWoJytHFDYYg</string>
	<key>GCM_SENDER_ID</key>
	<string>589365677983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>golf.waitlist.app</string>
	<key>PROJECT_ID</key>
	<string>swensonhe-e55fe</string>
	<key>STORAGE_BUCKET</key>
	<string>swensonhe-e55fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589365677983:ios:778472d397ec2de32137aa</string>
</dict>
</plist>